<body id="home">
<div class="fluid-container">
  <div class="col-md-6">
    <div class="row">
      <ul id = "city-list-home">
         <a href="/city/Toronto"><li id = "city-item">Toronto</li></a>
         <a href="/city/Ottawa"><li id = "city-item">Ottawa</li></a>
         <a href="/city/Vancouver"><li id = "city-item">Vancouver</li></a>
         <a href="/city/Montreal"><li id = "city-item">Montreal</li></a>
         <a href="/city/Calgary"><li id = "city-item">Calgary</li></a>
         <a href="/city/Halifax"><li id = "city-item">Halifax</li></a>
      </ul>
    </div>
  </div>
  <div class="col-md-6" id="call-to-action">
    <h1 id="home-text">Share your city.</h1>
  </div>
</div>
</body>
